@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.player-selection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 1;
}

.player-selection .players-msg {
    border: 2px black dashed;
    padding: 1em;
    font-size: 2em;
    font-family: 'Press Start 2P', cursive;
    text-decoration: blink;
}